.navbar navbar-light bg-light {
  background: #4aaaa5!important;
}

body {
  width: 960px;
  background:#ffffff;
}

@media (min-width: 750px)
.container {
    max-width: 960px;
}

h1 {
  color: #4aaaa5; 
}

.btn btn-primary {
  background: #4aaaa5!important;
}